@CHARSET "UTF-8";
@import "admin.css";

#site-form label,
#site-form input, 
#site-form img					{ display:block }

#site-form label				{ font-weight: bold; font-size:21px; margin:10px 0 5px 0 }
#site-form img					{ width:300px; margin:0 0 10px 0 }
#site-form input[type="text"]	{ border: 1px solid #ccc; width:320px; border-radius: 5px; box-shadow: 0px; font-size: 16px; padding: 10px; outline: 0; }
#site-form textarea				{ border: 1px solid #ccc; width:320px; border-radius: 5px; font-size: 16px; padding: 10px; outline: 0; height:100px; resize: none; }
#site-form input[type="submit"]	{ font-weight:bold; font-size: 24px; width:80px; margin-top:20px }

.tbl-ex		{
	width:100%;
	margin:10px auto; 
	border-collapse:collapse;
	border-bottom:2px solid #333;
}

.tbl-ex th, 
.tbl-ex td	{ 
	padding:8px;
	text-align:center; 	 
}

.tbl-ex td.left {
	text-align:left; 	 
}
	
.tbl-ex th	{ 
	border-top:2px solid #333;
	border-bottom:2px solid #333; 
	background-color:#999; 
	font-size:1.1em; 
	color:#fff 
}

.tbl-ex td {
	border-top:1px dotted #333;
	border-bottom:1px dotted #333; 
}

.board-form .tbl-ex td {
	text-align:left
}

.board-form .tbl-ex td.label {
	text-align:right;
	font-weight:bold;
	width:60px; 
}

.board-form .tbl-ex input[ name='title' ] {
	width: 480px;
}

.board-form .tbl-ex textarea#content {
	width: 470px;
	height: 200px;
	padding: 10px;
	resize: none;
	outline: none;	
}

.board-form select {
	padding:5px;
}

tr.even td	{ background-color:#e8ecf6 }

.tbl-ex a { text-decoration:none; font-weight:bold; }

div.bottom {
	width:100%;
	height:50px;
	margin:20px auto;
}

.tbl-ex td a { 
	text-decoration:none; 
	dispaly:block;
}

a.btn	 { 
	float:right; 
	padding:10px 20px 10px 20px ; 
	border:1px solid #555; 
	font-weight:bold; 
	background-color:#E8ECF6; 
	color:#111
}

.board-form .bottom a,
.board-form .bottom input[type="submit"] {
	float:right; 
	padding:10px 20px 10px 20px; 
	border:1px solid #555; 
	font-weight:bold; 
	background-color:#E8ECF6; 
	color:#111;
	cursor: pointer	
}

.board-form .bottom a {
	margin-left: 10px;
	padding:10px 20px 11px 20px 
}

a.del	{
	display:block;
	width:20px;
	height:20px; 
	background:url("/lms/assets/images/recycle.png") no-repeat 0 0;
	font-size:0;
}

/*
	게시판 리스트 페이징
*/
div.pager {
	width:100%;
	text-align:center;
}
div.pager  ul {
	height:20px;
	margin:10px auto;
}
div.pager  ul li 			{ display:inline-block; margin:5px 0; width:20px ; font-weight:bold; }
div.pager  ul li.selected	{ font-size:16px; text-decoration: underline; color:#f40808 }
div.pager  ul li a,
div.pager  ul li a:visited,
div.pager  ul li a:link,
div.pager  ul li a:active	{ text-decoration: none; color:#555 }
div.pager  ul li a:hover	{ text-decoration: none; color:#f00 }